lue;
  aling-items: center;
  justify-content: center
}


#contenido {
  background-color: #EEEEEE;
  height: 600px;
  margin-left: 10%;
}

.texto {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.2em;

}

#pie {
  background-color: #ddf0a4;
  color: #ff0000;
  height: 30px;
}

input[type=submit] {
  border-bottom: #1d84c3;
  font-size: 1em;
}
